* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }